
.about {
    padding: 90px 0;
    background-color: white;
    color: rgba(39, 39, 39, 0.753);
    letter-spacing: 0.05rem;
}

.about-title-photo-container {
    display: flex;
    flex-direction: column;
}

.about-photo-container {
    height: 300px;
}

.about-photo {
    height: 100%;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.about-title {
    font-family: 'Roboto', sans-serif;
    color: rgba(139, 139, 139, 0.623);
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: .11rem;
}

.about-description {
    text-align: center;
    font-size: .875rem;
    color: rgb(81, 81, 81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.08rem;
}