
#hero {
    /* background-color: #202637; */
    background-color: #000;
    min-height: 100vh;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); */
}

.hero-name {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 900;
    padding: 35vh 0 0 0;
}

.hero-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.hero-title span:nth-child(1) {
    border-right: 2px solid white;
    padding-right: .5rem;
}

.hero-title span:nth-child(2) {
    border-right: 2px solid white;
    padding-right: .5rem;
}

#section07 {
    position: absolute;
    text-align: center;
    bottom: 4rem;
    left: 50%;
}

#section07 a {
    padding-top: 80px;
    position: relative;
  }
  #section07 a span {
    position: absolute;
    top: -12px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: 4px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 20px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.clip-text {
    position: relative;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

.clip-text-bg {
    background-image: url(../images/hero-bg-text.jpg);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 768px){
    .hero-name {
        font-size: 5rem;
    }

    .hero-title {
        font-size: 1.3rem;
    }
}
