
#hero {
    /* background-color: #202637; */
    background-color: #000;
    min-height: 100vh;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-name {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 900;
    padding: 35vh 0 0 0;
}

.hero-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.hero-title span:nth-child(1) {
    border-right: 2px solid white;
    padding-right: .5rem;
}

.hero-title span:nth-child(2) {
    border-right: 2px solid white;
    padding-right: .5rem;
}


/* ---------------------------- */
/* Animation Arrows pointing down */
/* ---------------------------- */

.scroll-down-container {
    position: absolute;
    text-align: center;
    bottom: 4rem;
    left: 50%;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.v-hidden {
  opacity: 0;
}

.scroll-down-container a {
    padding-top: 80px;
    position: relative;
}

.scroll-down-container a span {
    position: absolute;
    top: -12px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #ffffff7d;
    border-bottom: 1px solid #ffffff7d;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: up-and-down-bounce 2s infinite;
    animation: up-and-down-bounce 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll-down-container a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scroll-down-container a span:nth-of-type(2) {
    top: 4px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.scroll-down-container a span:nth-of-type(3) {
    top: 20px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes up-and-down-bounce {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes up-and-down-bounce {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}


/* ---------------------------- */
/* Create giant letters with background fill */
/* ---------------------------- */

.clip-text {
    position: relative;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

.clip-text-bg {
    background-image: url(../images/hero-bg-text.jpg);
}



/* MEDIA QUERIES */

@media only screen and (max-width: 768px){
    .hero-name {
        font-size: 5rem;
    }

    .hero-title {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 414px){
    .navigation-line {
      height: 1px;
    }

    .scroll-down-container a span {
        width: 15px;
        height: 15px;
    }

    .hero-name {
        font-size: 3.2rem;
        text-align: center;
    }

    .hero-title {
      font-size: .8rem;
      text-align: center;
    }

    .hero-title span:nth-child(2) {
        padding-left: .3rem;
    }

    .hero-title span:nth-child(3) {
      padding-left: .3rem;
  }
}
