
#hero {
    /* background-color: #202637; */
    background-color: #000;
    min-height: 100vh;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); */
}

.hero-name {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 900;
    padding: 35vh 0 0 0;
}

.hero-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.clip-text {
    position: relative;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

.clip-text-bg {
    background-image: url(../images/hero-bg-text.jpg);
}
