
/* Desktop Nav */
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

.nav-wrapper {
    display: flex;
    max-width: 1440px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 95px;
    padding-right: 95px;
}

.nav-logo-container {
    display: flex;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
}

.nav-links {
    display: flex;
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
}

.nav-link-d {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .2s ease-in-out;
    font-family: 'Futura', sans-serif;
    letter-spacing: .15rem;
}

.nav-link-d:hover {
    text-decoration: none;
    color: black;
}

.nav-logo {
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}


.side-navigation {
    background-color: transparent;
    height: 64px;
    width: 64px;
    float: right;
    margin-top: .5rem;
    margin-right: 1rem;
    position: sticky;
    top: .5rem;
    z-index: 5;
    display: none;
}

.navigation-menu-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navigation-line {
    height: 2px;
    background-color: white;
    border-radius: 25px;
    width: 70%;
    margin: 0 auto;
}

#nav-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: margin .2s;
  }

.nav-span {
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;
}

.nav-span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: white;
    transition: all 0.3s linear;
}

.nav-span:nth-child(1) {
    animation: span-first-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 40%;
}

.nav-span:nth-child(2) {
    animation: span-second-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 49%;
}

.nav-span:nth-child(3) {
    animation: span-third-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 59%;
}
  
#nav-btn.on:hover span::before {
    width: 100%;
    transition: all 0.3s linear;
}

#nav-btn.on span:nth-child(1) {
    background: white;
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%;
}

#nav-btn.on span:nth-child(2) {
    background: white;
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%;
}

#nav-btn.on span:nth-child(3) {
    background: white;
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%;
}

  
@keyframes span-first-on {
    0% {
      transform: translate(-50%, -300%);
    }
    30% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
}
@keyframes span-first-off {
    0% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    30% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -300%);
    }
}
@keyframes span-second-on {
    0% {
      transform: translate(-50%, -50%);
    }
    25% {
      background: gray;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-150%, -50%) scale(0);
    }
}
@keyframes span-second-off {
    0% {
      transform: translate(-150%, -50%) scale(0);
    }
    25% {
      background: gray;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%);
    }
}
@keyframes span-third-on {
    0% {
      transform: translate(-50%, 200%);
    }
    30% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
}
@keyframes span-third-off {
    0% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    30% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, 200%);
    }
}

.turn-span-black {
  background: black;
}

.move-navbox-down {
  margin-top: .5rem;
}


/* Side Nav */
.nav-menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #e02b41;
    padding: 50px 0;
    transform: translateX(100vw);
    transition: .5s;
}

.no-scroll {
    overflow: hidden;
}

.main-transform-x {
    transform: translateX(-100vw);
}

.sidenav-transform-x {
  transform: translateX(0);
}

.nav-menu-list {
  list-style-type: none;
  color: rgba(39, 39, 39, 0.753);
  letter-spacing: 0.2rem;
  margin: 0 0 0 2rem;
  padding: 0;
}

.nav-menu-list-item {
  color: white;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  font-family: 'Futura Lt', sans-serif;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 768px){
  .navigation {
    position: fixed;
    top: 0;
    background: white;
    height: 64px;
  }

  .side-navigation {
    margin-top: 0;
    top: 0;
  }

  .nav-span {
    background: black;
    height: 1px;
  }

  .side-navigation {
    display: inline-block;
  }

  .nav-wrapper {
    padding: 0 0 0 25px;
    height: 100%;
  }

  .nav-logo {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .nav-links {
    display: none;
  }
}

@media only screen and (max-width: 414px){
  #nav-btn {
    width: 50px;
    height: 50px;
  }

  .side-navigation {
    margin: 0 1rem 0 0;
    width: 50px;
    height: 50px;
    top: 0;
  }

  .nav-span {
    height: 1px;
    width: 35px;
  }

  .navigation {
    height: 50px;
  }

  .nav-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  .nav-logo {
    font-size: .8rem;
  }
}