
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.main {
    transition: all .5s;
}

/* Hover Section Title Animation */
.underline-boost-up {
    background-image: linear-gradient(120deg, rgba(236, 153, 0, 0.431) 0%, rgba(236, 153, 0, 0.397) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: 0 110%;
    transition: background-size 0.12s ease-in;
}

.underline-boost-up:hover {
    background-size: 100% 93%;
}
